
/* Extra small devices support */
@media (max-width: 280.98px) { 

    /* Header Title: */
    div.container div.jumbotron h1
    {
        font-size: 2rem;
    }

    div.container div.jumbotron p
    {
        font-size: 0.9rem;
    }

}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 399.98px) { 

    /* Filtros: */
    div.row div.col.busca input
    {
        width: 290px;
    }

    div.row div.col.status select
    {
        width: 200px;
    }
    
    div.row div.col.status 
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    /* Tabela: */
    tr td.btns
    {
        text-align: center;
    }

    tr td a button.btn-primary
    {
        margin-bottom: 10px;
    }

    /* Filtros: */
    div.row div.col.status select
    {
        width: 140px;
    }

    div.row div.col.busca input
    {
        width: 200px;
    }

    div.row div.col.buttons
    {
        margin-top: 10px;
    }

}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}